DATABASE_URL="mysql://selos_db_user:selos_db@ab110337-001.eu.clouddb.ovh.net:35286/selos_db"
JWT_SECRET="Mohamed08545547@"
JWT_EXPIRES_IN="7d"

# Business Central Configuration
# Ces variables peuvent être définies dans .env.local (prioritaire) ou .env
BC_TENANT_ID=7182dc30-d409-43ba-befb-efa773cfaca3
BC_CLIENT_ID=6fcfa6d5-57c5-477b-9247-4858580a73dd
BC_CLIENT_SECRET=votre_client_secret_ici
BC_ENVIRONMENT=UNIBRO
BC_COMPANY_ID=
BC_COMPANY_NAME=Copie PROD

# Timbre fiscal
TIMBRE=1.00

